# Jupyter Notebook
.ipynb_checkpoints

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Train/valid data
data/data_bin*
data/data_subsets/*



# VSCODE
.vscode/ftp-sync.json
.vscode/settings.json
.vscode/launch.json


# Selfies files
*_selfies.jsonl

src/checkpoints/
src/ablations/generations/*.csv
src/ablations/perplexities/*.csv
src/ablations/statistics/

tensorboard
wandb
.aim

src/data/data