# Jupyter Notebook
.ipynb_checkpoints

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Train/valid data
data/data_bin*
data/data_subsets/*



# VSCODE
.vscode/ftp-sync.json
.vscode/settings.json
.vscode/launch.json


# Selfies files
*_selfies.jsonl

checkpoints/
ablations/generations/*.csv
ablations/perplexities/*.csv

tensorboard
wandb
